@model SemanticWebMovieDB.Models.Actor
@{
    ViewBag.Title = "ActorDetails";
}

<h2>@Model.name Details:</h2>
<div>
    <b>Nickname:</b> @Model.nickname<br />
    <b>Residence:</b> @Model.residence<br />
    <b>Birth place:</b> @Model.birthPlace<br />
    <b>Birth date:</b> @Model.birthDate<br /><br />
    <b>Description:</b> @Model.description<br /><br />
    <b>Occupation:</b> @Model.occupation<br /><br />
</div>
