@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            
            <br/>
            @using (Html.BeginForm("SearchMovie", "Home"))
            {
                @Html.Label("Search movies:")
                @Html.TextBox("name")
                <input type="submit" value="Search" />
            }
            @using (Html.BeginForm("SearchActor", "Home"))
            {
                @Html.Label("Search actors:")
                @Html.TextBox("name")
                <input type="submit" value="Search" />
            }
            <hgroup class="title">
                <h2>Fuseki statistics:</h2>
                <h3>@ViewBag.MessageMovies</h3>
                <h3>@ViewBag.MessageActors</h3>
                <h3>@ViewBag.MessageTriples</h3>
            </hgroup>
            
        </div>
    </section>
}

